* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html, body {
  height: 100%;
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  z-index: 1000;
}
header nav ul {
  display: flex;
  float: left;
  justify-content: space-between;
}
.logo {
  width: 95px;
  float: right;
  margin: 10px 20px;
}

header nav ul li {
  list-style: none;
  margin: 0 20px;
  padding: 30px 0;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: larger;
  font-size: 25px;
}

header li a:hover {
  background-color: #eb5225;
  padding: 2px 20px;
  border-radius: 20px;
}

.red {
  background-color: #eb5225;
  padding: 2px 20px;
  border-radius: 20px;
}

body {
  background-image: url("../images/library.jpg");
  /* background-image: url("../images/learn.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #fff;
  font-weight: bolder;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}


main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 150px 50px;
  /* grid-template-rows: repeat(4, 1fr); */
  row-gap: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
}

h1 {
  /* position: relative;
  top: 120px; */
  grid-column: 7/12;
  grid-row: 1/2;
}

p {
  /* position: absolute;
  bottom: 0px; */
  grid-column: 7/12;
  grid-row: 2/3;
}

.button-style {
  grid-column: 8/10;
  grid-row: 3/4;
  font-size: 25px;
  background-color: #eb5225;
  border-radius: 19px;
  border: none;
  box-shadow: 0px 0px 25px 0px #000;
  text-align: center;
  max-width: 100%;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 10px;
}

.menu-toggle span {
  /* display: block; */
  display: none;
  padding: 2px;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  cursor: pointer;
}

.section1 {
  position: absolute;
  bottom: 0px;
  top: 120px;
  font-weight: bolder;
  width: 500px;
  height: 400px;
  margin: 20px 0px 10px 80px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 25px;
  animation: glowPulse 2s infinite;
  padding: 50px;
}

.section1 ul,
p {
  text-align: left;
  margin: 10px;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 5px #000, 0 0 10px #000;
  }
  50% {
    box-shadow: 0 0 20px #000, 0 0 30px #000;
  }
  100% {
    box-shadow: 0 0 5px #000, 0 0 10px #000;
  }
}

footer p {
  color: #fff;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* margin: 10px 5px 0px 20px; */
}
footer {
  position: relative;
  margin: 10px 5px 0px 20px;
  
  /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5); */
}

@media (max-width: 1030px) {
  .menu-toggle span {
    display: block;
    margin-left: 20px;
  }

  body,
  html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .red:hover {
    color: #fff;
  }

  header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 1000;
  }

  header li a:hover {
    font-style: italic;
    background-color: #eb5225;
  }

  header nav ul li a {
    transition: color 0.3s ease-in-out;
  }

  header nav ul li {
    padding: 10px 0;
  }

  #navbar {
    display: none;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
  }

  #navbar.active {
    display: flex;
    position: absolute;
    left: 0;
    width: 200px;
    margin-left: 10px;
    z-index: 1000;
    position: fixed;
    border-radius: 9px;
  }

  .menu-toggle {
    display: inline-block;
    cursor: pointer;
  }

  .menu-toggle:hover span {
    background-color: #eb5225;
  }

  #navbar ul {
    flex-direction: column;
    align-items: center;
  }

  main {
    display: block;
    position: relative;
    left: 25px;
    right: 60px;
    padding: 10px;
    position: relative;
    transform: translate(10%, 10%);
    font-size: 5vw;
  }

  h1 {
    position: absolute;
    top: 190px;
    font-size: 30px;
    display: inline-block;
    transform: translate(-50%, -50%);
  }

  .down {
    position: absolute;
    top: 320px;
    display: inline-block;
    padding-inline: 9px;
    font-size: 4vw;
    transform: translate(-50%, -50%);
  }

  p {
    position: absolute;
    top: 270px;
    display: inline-block;
    font-weight: bolder;
    font-size: 20px;
    width: max-content;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 400px) {
  main h1{
    font-size: 20px;

  }
}